.whats-app {
    width: 50px;
    height:50px;
    background-color: hsl(141, 75%, 46%);
    color: #FFF;
    text-align: center;
    font-size: 32px;
    margin-left: 10px;
    border-radius: 50%;
}
/* Ensure all .packages-item have the same height */
.packages-item {
    display: flex;
    flex-direction: column;
    height: 100%;
}

/* Make the image container flexible and maintain aspect ratio */
.packages-img {
    flex: 1;
    position: relative;
}

/* Make sure images take up all available space but do not distort */
.packages-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Ensure content div is aligned at the bottom */
.packages-content {
    flex: 0 0 auto; 
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* Adjust price and content areas */
.packages-price {
    margin-top: auto; 
}
.national-item img {
    width: 100%;
    height: 300px; 
    object-fit: cover; 
}
.national-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.section-booking-title {
    position: relative;
    display: inline-block;
    font-size: 20px;
    font-weight: bold;
}
.corner-img {
    position: absolute;
    bottom: -10px; 
    right: -20px;
    width: 40px; 
    height: auto;
}

/* Center Founder Image */
.founder-img {
    width: 250px; 
    height: 250px;
    object-fit: cover;
    border-radius: 50%;
    margin-top: 20px;
}

/* Center text content */
.founder-details {
    text-align: center;
    margin-top: 10px;
}
.bg-breadcrumb-abt {
    background: linear-gradient(rgba(19, 53, 123, 0.5), rgba(19, 53, 123, 0.5)), url(../img/dezine/img\ \(2\).jpeg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    padding: 150px 0 50px 0;
}
.breadcrumb a{
    color:#fff !important;
}
.bg-breadcrumb .breadcrumb-item a {
    color: #fff !important;
}
.navbar{
    background-color: #fff;
}
.navbar-light .navbar-nav .nav-link {
    color:#13357b !important;
}